.component-two {
    background-color: #eee;
    height: 200px;
    margin: 20px;
    padding: 20px;
    width: 400px;
}

.another-style {
    background-color: #e7e5e6;
    height: 200px;
    margin: 20px;
    padding: 20px;
    width: 400px;
}
